@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'SF Pro Display';
}

.header-bg-blur {
  background: #E7EBEE03;
  backdrop-filter: blur(50px)
}

.hero-bg-section {
  background-image: url('../public/bg-hero-section.png');
  background-repeat: no-repeat;
  background-size: cover;
}
