@import url("https://fonts.cdnfonts.com/css/sf-pro-display");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.preview {
  width: 350px;
  height: 200px;
  will-change: transform;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../public/1.png");
  pointer-events: none;
  transition: background-image 0.5s ease-in-out;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "SF Pro Display";
  background-image: url("../public/abstract/Noise.png");
}

.header-bg-blur {
  background: #e7ebee03;
  backdrop-filter: blur(50px);
}

.hero-bg-section {
  overflow: hidden;
  background-image: url("../public/bg-hero-section.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.carusel-card {
  background: rgba(203, 203, 203, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.3px);
  -webkit-backdrop-filter: blur(5.3px);
  border: 1px solid rgba(181, 181, 181, 0.26);
}

.purple-gradient {
  background: linear-gradient(
    320.92deg,
    rgba(116, 114, 157, 0.4) 15.18%,
    rgba(65, 70, 93, 0.5) 64.29%
  );
}
